.keyword {
    color: var(--primary-color);
    font-weight: 600;
}

.heading1 {
    font-size: 48px;
    margin-top: 30px;
    margin-bottom: 50px;
    line-height: 1em;
}

@media only screen and (max-width: 799px) {
    .heading1 {
        font-size: 40px;
    }
}

.heading2 {
    font-size: 36px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.heading3 {
    font-size: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.divider {
    border: none;
    background-color: var(--alt-background-color);
    height: 2px;
}

.hash {
    color: var(--secondary-text-color);
}

.note {
    margin: 0;
    border-left: 7px solid var(--quote-color);
    color: var(--quote-color);
    padding: 10px 0px 10px 20px;
    font-size: 18px;
}

.isMobileOnly {
    display: none !important;
}

.isDesktopOnly {
    display: unset !important;
}

@media only screen and (max-width: 799px) {
    .isMobileOnly {
        display: unset !important;
    }

    .isDesktopOnly {
        display: none !important;
    }
}
