.mainContent {
    margin-top: var(--navbar-height);
    display: flex;
    overflow-wrap: break-word;
}

@media only screen and (max-width: 799px) {
    .mainContent {
        margin-top: auto;
    }
}
