.sidebarContainer {
    width: var(--sidebar-width);

    flex-shrink: 0;
}

.sidebar {
    height: var(--sidebar-height);
    top: var(--sidebar-top);
    background-color: var(--background-color);
    position: sticky;
    overflow-y: auto;
    border-right: 2px solid var(--alt-background-color);
    padding: 8px;
}

.sidebarItem {
    margin: 0px;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 18px;
    display: block;
    text-decoration: none;
    color: unset;
    font-weight: 600;
}

.sidebarParentItem {
    composes: sidebarItem;
    display: inline-block;
    width: 100%;
}

.sidebarItem:hover,
.sidebarItem:focus {
    background-color: var(--hover-highlight-color);
    outline: none;
}

.mobileSidebarContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 150;
}

.mobileSidebarContainer.hidden {
    display: none;
}

.mobileSidebarContainer .sidebar {
    top: 0px;
    height: 100%;
    overscroll-behavior: contain;
    background-color: transparent;
}
