:root {
    font-family: system-ui, -apple-system, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Noto Sans', sans-serif, system-ui,
        'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.theme-default,
.theme-green {
    --primary-color: #1d803e;
    --primary-color-faint: #005a1e48;
}

.theme-orange {
    --primary-color: rgb(247, 132, 0);
    --primary-color-faint: rgba(255, 166, 0, 0.267);
}

.theme-blue {
    --primary-color: rgb(29, 68, 141);
    --primary-color-faint: rgba(0, 45, 128, 0.247);
}

.theme-mauve {
    --primary-color: #7743d6;
    --primary-color-faint: #671df057;
}

:root,
.theme-light {
    --background-color: #ffffff;
    --alt-background-color: #d8d8d8;
    --logo-background-color: #ffffff;
    --text-color: black;
    --quote-color: #303030;
    --secondary-text-color: #313131;
    --hover-highlight-color: #e9e9e9;
    --inline-pre-background-color: #b8b8b8;

    background-color: var(--background-color);
    color: var(--text-color);
}

@media (prefers-color-scheme: dark) {
    .theme-default,
    .theme-green {
        --primary-color: #00e279;
        --primary-color-faint: #00e27834;
    }

    .theme-orange {
        --primary-color: orange;
        --primary-color-faint: rgba(255, 166, 0, 0.247);
    }

    .theme-blue {
        --primary-color: rgb(27, 98, 230);
        --primary-color-faint: rgba(27, 98, 230, 0.24);
    }

    .theme-mauve {
        --primary-color: #7743d6;
        --primary-color-faint: #671df057;
    }

    :root,
    .theme-dark {
        --background-color: #333;
        --alt-background-color: #242424;
        --logo-background-color: #505050;
        --text-color: rgb(240, 240, 240);
        --quote-color: #979797;
        --secondary-text-color: #b1b1b1bd;
        --hover-highlight-color: #424242;
        --inline-pre-background-color: #1b1b1b;

        background-color: var(--background-color);
        color: var(--text-color);
    }
}
